.cuadro {
	/* background-color: blue; */
	/* border:1px solid; */
	min-height: 10rem;
}
.derecha {
	text-align:right;
}
.izquierda {
	text-align: right;
}
hr {
	color: blue;
}
.button_menu {
	padding-top: 0.5em !important;
	margin-top: 0.5em !important;
}
.foto_com {
	width: 200px !important;
	height: 200px !important;
	border: 0.2em !important;
}
.formato {
	text-shadow: 2px 2px 5px black;
	font-size:4em;
}
.formato_1{
	font-size: 2em;
}
